[Unit]
Description=Heartbeat
After=network.target

[Service]
ExecStart=/usr/bin/heartbeat
Restart=always
RestartSec=5
User=root
WorkingDirectory=/usr/bin/

[Install]
WantedBy=multi-user.target
